/********************TAG SELECTIONS********************/

  div {
    background-color: #ffffff;
  }

  body {
    margin-left: 0px;
  }

  h1 {
    color: #292929;
    font-size: 5rem;
    display: inline;
    font-family: 'Lora', serif;
  }

  h2 {
    color: #292929;
    font-size: 2rem;
    font-weight: bold;
    display: inline;
    font-family: 'Lora', serif;
  }

  h3 {
    color: #9BA4AB;
    font-size: 1.5rem;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
  }

  a:hover {
    color: blue;
  }

  p {
    color: #292929;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0px;
    font-family: 'Lora', serif;
  }


/********************CLASS SELECTIONS********************/

.content{
  width: 70%;
  margin: 120px auto 160px auto;
  text-align: left;
}

.profile{
  width: 15%;
  padding: 16px;
}

.title{
  margin: auto auto 40px auto;
}

.name {
  background-color: yellow;
}

.resume-title {
  margin: auto auto 120px auto;
  width: 70%;
  text-align: left;
}

.resume-row {
  margin: auto auto 80px auto;
  width: 70%;
  text-align: left;
  font-family: 'Lora', serif;
  line-height: 1.5;
}

.back-button {
  margin: 80px;
  align-items: center;
}

.footer {
  text-align: center;
}
